html {
  font-family: "Schoolbell", cursive;
  background-color: rgba(255, 180, 180, 0.8);
}

html img {
  mix-blend-mode: color-burn;
}

h1 {
  color: #542e2e;
}

h2 {
  color: #542e2e;
}

a {
  color: #705050;
  text-decoration: underline;
}

a:hover {
  color: #ffa8a8;
  text-decoration: underline;
}

.header-img {
  width: 50%;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}
